{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/card-job') }}
{% endblock %}

{% block title %}Recherche par catégorie{% endblock %}

{% block body %}
    <div style="margin-top: 100px">
        <div class="container">
            {% for jobByCategory in jobsByCategories %}
                {% include 'job/_card-job.html.twig' with {job:jobByCategory} %}
            {% endfor %}
        </div>
    </div>
{% endblock %}