@import "./variable.scss";

section.header-profile-user {
  margin-top: 81px;
  .content-header-profile {
    text-align: center;
    h1 {
      font-weight: 500;
      color: $secondary;
    }
    p {
      color: $secondary;
      font-weight: 500;
    }
  }
}

section.content-profile-user {
  margin-top: 100px;
  h1 {
    color: $secondary;
    font-weight: 500;
    margin-bottom: 50px;
  }
  th {
    font-size: 12px;
    color: $primary;
  }
  tr {
    border-bottom: 1px solid $primary;
  }
  td {
    font-size: 12px;
  }
}

/* MEDIA QUERIES */

@media (max-width: 500px) {
  section.header-profile-user {
    h1 {
      font-size: $font-size-base + .5rem;
    }
  }
  section.content-profile-user {
    h1 {
      font-size: $font-size-base + .6rem;
    }
  }

}