@import "./variable.scss";

/* PAGE PROFILE USER */
section.header-profile-user {
  margin-top: 81px;
  .content-header-profile {
    text-align: center;
    h1 {
      font-weight: 500;
      color: $secondary;
    }
    p {
      color: $secondary;
      font-weight: 500;
    }
  }
}

section.content-profile-user {
  margin-top: 100px;
  h1 {
    color: $secondary;
    font-weight: 500;
  }
  th {
    font-size: 12px;
    color: $primary;
  }
  tr {
    border-bottom: 1px solid $primary;
  }
  td {
    font-size: 12px;
  }
}

/* PAGE PROFILE EDITION JOB */
section.header-edit-job {
  margin-top: 81px;
  h1 {
    font-weight: 500;
    color: $secondary;
    .title-edit-job {
      color: $primary;
    }
  }
}

/* PAGE PROFILE EDITION USER */
section.header-edit-user {
  margin-top: 81px;
}

section.edit-user-form {
  max-width: 600px;
  margin: 200px auto;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  padding: 30px;
  .form-control {
    height: 50px;
    &:focus {
      border-color: $primary;
      outline: none;
      box-shadow: none;
    }
  }
  h2 {
    font-weight: 500;
    color: $primary;
    text-align: center;
    margin-bottom: 30px;
  }
}

/* MEDIA QUERIES */

@media (max-width: 500px) {
  section.header-profile-user {
    h1 {
      font-size: $font-size-base + .5rem;
    }
  }
  section.content-profile-user {
    h1 {
      font-size: $font-size-base + .6rem;
    }
  }
  section.edit-user-form {
    border: none;
    margin: 120px auto;
    padding: 0;
  }

}