/* variable color */
$primary: #006BA6;
$secondary: #54494b;
//$success: #558b6e;
$success: #06c795;
$danger: #D62839;
$dark: #2E6171;
$black: #000;
$white: #fff;
$gray-400: #CED4DA;
$border-primary: $primary;
$border-danger: $danger;
$text-primary: $primary;
$text-danger: $danger;
/* variable size */
$height-form-control: 50px;
$font-size-base: 1rem;
$heading-h2-size: 2rem;
$heading-h3-size: 1.2rem;