{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/contact') }}
{% endblock %}
{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <section class="header-contact" style="margin-top: 100px">
        <div class="container">
            <h1>Page de contact !!!</h1>
        </div>
    </section>
{% endblock %}
