<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmation de la mise en ligne d'un nouvel emploi</title>
</head>
<body>
    <h1>Bonjour Naïm,</h1>
    <p>Un nouvel emploi a été mis en ligne de la part de {{ job.author.fullName }}</p>
    <p>Vous pouvez consulter cette offre en vous rendant <a href="{{ url('job_show', {id:job.id, slug:job.slug}) }}">sur ce lien</a>.</p>
    <p>L'équipe EasyJob.</p>
</body>
</html>