<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmation d'inscription</title>
</head>
<body>
    <h1>Bonjour {{ user.firstName }} {{ user.lastName }},</h1>
    <p>Afin de confirmer votre inscription, veuillez cliquer sur ce <a href="{{ url('account_token_validation', {value:token}) }}">lien</a>.</p>
    <p>A très bientôt</p>
    <p>L'équipe de EasyJob</p>
</body>
</html>